# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
!media/.gitkeep
logs/*.log*

# Environment (maxfiy!)
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
